name: Build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:questing
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libgtk-4-dev libadwaita-1-dev libmpv-dev
      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Lint fmt
        run: cargo fmt --all -- --check
      - name: Lint clippy
        run: cargo clippy --all --no-deps -- -D warnings
      - name: Build
        run: cargo build