name: Build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Install dependencies
        run: |
          echo "deb http://archive.ubuntu.com/ubuntu/ questing main universe" | sudo tee /etc/apt/sources.list.d/questing.list
          sudo apt-get update
          sudo apt-get install -y -t questing build-essential libgtk-4-dev libadwaita-1-dev libmpv-dev
      - name: Lint fmt
        run: cargo fmt --all -- --check
      - name: Lint clippy
        run: cargo clippy --all --no-deps -- -D warnings
      - name: Build
        run: cargo build