name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:questing
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y \
            build-essential curl libssl-dev \
            libgtk-4-dev libadwaita-1-dev libmpv-dev

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable

      - name: Python setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Setup cargo
        run: |
          cargo install cargo-deb
          cargo install cargo-generate-rpm

      - name: Setup flatpak
        run: |
          apt-get install -y flatpak-builder
          flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak install -y org.gnome.Sdk//49
          flatpak install -y org.gnome.Platform//49
          flatpak install -y org.freedesktop.Sdk.Extension.rust-stable//25.08
          flatpak install -y org.freedesktop.Platform.ffmpeg-full//24.08
          python3 -m pip install toml aiohttp

      - name: Build
        run: cargo build --release

      - name: Build deb package
        run: cargo deb
      - name: Upload deb package to release
        uses: softprops/action-gh-release@v2
        with:
          files: ./target/debian/*.deb

      - name: Strip debug symbols
        run: strip -s target/release/losange
      - name: Build rpm package
        run: cargo generate-rpm
      - name: Upload rpm package to release
        uses: softprops/action-gh-release@v2
        with:
          files: ./target/generate-rpm/*.rpm

      - name: Build flatpak package
        run: ./build-aux/flatpak/build.sh
      - name: Upload flatpak package to release
        uses: softprops/action-gh-release@v2
        with:
          files: ./build-aux/flatpak/*.flatpak